doctype html
html 
    head 
        title TheMealBox
       
        block style
            
    body 

        
        section.navbar
            ul.ull.h-nav-resp.v-class-resp
                div#logo
                    img(src="/static/logo1.png")
            
                li #[a(href="/") Home] 
                li #[a(href="/menu") Menu] 
                li #[a(href="/faq") FAQs] 
                li #[a(href="/contact") Contact]
                li #[a(href="/OurStory") Mission]
            div.burger    
                    div.line
                    div.line
                    div.line    
                     

        block content 
         
        
        
                 
